body {
  font-family: sans-serif;
  /* text-align: center; */
}

input {
  border-radius: 16px;
  outline: none;
  border: none;
  padding: 6px 16px;
}

li {
  margin-right: 9px;
}

button {
  border-radius: 9px;
  border: none;
  outline: none;
  padding: 4px 16px;
}

button:hover {
  cursor: pointer;
  background-color: pink;
  color: #fff;
}

.input-area {
  background-color: aqua;
  width: 400px;
  height: 30px;
  padding: 9px;
  margin: 9px;
  border-radius: 9px;
}

.incomplete-area {
  background-color: rgb(76, 201, 26);
  width: 400px;
  min-height: 200px;
  padding: 9px;
  margin: 9px;
  border-radius: 9px;
}

.complete-area {
  background-color: rgb(224, 152, 17);
  width: 400px;
  min-height: 200px;
  padding: 9px;
  margin: 9px;
  border-radius: 9px;
}

.title {
  text-align: center;
  margin-top: 0;
  color: #666;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
